# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/

# Data
data/*.pkl
data/*.csv

# MLflow
mlruns/
mlartifacts/

# Secrets
.env
*.pem
*.key

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Kubernetes secrets (don't commit!)
k8s/*-secrets.yaml

# Docker
*.tar
